html, body {
    margin: 0;
    padding: 0;
    background: beige;
    font-family: 'Livvic', sans-serif;
}


/*  DESKTOP MENU AND NAVIGATION BAR  */
#navContainer {
    margin: 0;
    padding: 20px;
    z-index: 99;
    position: relative;
}

.sticky-nav #navContainer {
    position: sticky;
    top: 0px;
    padding: 0px;
}

.nav-inner {
    background-color: black;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms linear;
}

.nav-properties .nav-inner {
    background-color: rgba(0, 0, 0, .9);
    border-radius: 0px;
    transition: all 300ms linear;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1 0 40vw;
}

.menu li {
    line-height: 45px;
    padding: 10px;
    border-radius: 50px;
    margin: 0 5px;
    transition: all 300ms linear;
}

.menu li:hover {
    transition: all 500ms linear;
}

.menu li:hover a, #management:hover a, #designReno:hover a {
    color: aqua;
}

.menu-left {
    justify-content: flex-end;
}

.menu li a {
    color: tan;
    font-size: 17.5px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-logo {
    flex: 0 1 20vw;
    text-align: center;
    margin: 5px 0px;
}

.navbar-logo img {
    width: 200px;
    height: auto;
}

#management a {
    color: coral;
}

#designReno a {
    color: white;
}


/*  RESPONSIVE DESKTOP MENU AND NAVIGATION BAR  */
@media screen and (max-width: 1280px) {

    .menu li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 1160px) {

    .menu li a {
        font-size: 12.5px;
    }
}

/*  HIDING DESKTOP MENU AND NAVIGATION BAR FOR MOBILE  */
@media screen and (max-width: 1000px) {

    #navContainer {
        display: none;
    }
}
/*  HIDING DESKTOP MENU AND NAVIGATION BAR FOR MOBILE ~ END  */
/*  RESPONSIVE DESKTOP MENU AND NAVIGATION BAR ~ END  */
/*  DESKTOP MENU AND NAVIGATION BAR ~ END  */



/*  MOBILE MENU AND NAVIGATION BAR  */
/*  MOBILE MENU HIDDEN ON DEVICES OF WIDER THAN 1000px's  */
@media screen and (min-width: 1000px) {
    #mobileNavContainer {
        display: none;
    }
}
/*  MOBILE MENU HIDDEN ON DEVICES OF WIDER THAN 1000px's ~ END  */


/*  MOBILE MENU ONLY ON DEVICES LESS THAN 1000px's WIDE  */
@media screen and (max-width: 999px) {

    /*  MOBILE MENU & NAVIGATION BAR  */


    #mobileNavContainer {
        background: black;
        width: 100%;
        height: .01px;
        position: relative;
        top: 0;
        z-index: 99;
    }

    .inner {
        position: fixed;
        background: black;
        width: 100%;
    }

    .logo a {
        display: flex;
        height: 100px;
    }

    .logo img {
        margin: auto 0;
        padding-left: 10px;
        height: 75px;
        float: left;
        
    }

    .mobileNav {
        height: 0;
        width: 0;
        border-top: 0;
        border-bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center; /* centers menu content vertically */
        min-height: 0vh;
    }

    .mobileNav ul {
        float: right;
    }

    .mobileNav ul li {
        display: inline-block;
    }
    
    .mobileNav ul li a {
        display: inline-block;
        outline: none;
        color: beige;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 17.5px;
        letter-spacing: 1.2px;
        font-weight: 600px;
    }

    .mobileNav ul li a.active {
        background: 0;
    }

    .nav-links {
        position: fixed;
        margin: 0;
        right: 0px;
        height: 100%;  /* height of navbar */
        width: 100%;  /* width of the navbar background */
        display: flex;
        top: 100px;
        flex-direction: column;
        text-align: right;
        background: black;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-top: 50px;
    }

    .nav-links li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
        opacity: 0;
    }

    .nav-links li a {
        padding: 10px 25px;
        transform: translateX(-20px);
        transition: all 300ms ease;
    }

    .nav-links li a:hover, #management a:hover, #designReno a:hover {
        color: aqua;
    }


    /*  BURGER BTN DESIGN  */
    .burger {
        display: block;
    }

    .nav-btn {
        position: fixed;
        right: 20px;
        top: 25px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: beige;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }
    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }
    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }
    /*  BURGER BTN DESIGN ~ END  */


    /*  ANIMATED NAVIGATION MENU  */
    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(-250px);  /* 'a' menu links slide into view */
        }
        to {
            opacity: 1;
            transform: translateX(0px);  /* location for 'a' menu links to stop sliding */
        }
    }
    /*  ANIMATED NAVIGATION MENU ~ END  */



    /*  BURGER ANIMATION EFFECTS  */
    #nav:checked + .nav-btn {
        transform: rotate(45deg);
    }

    #nav:checked + .nav-btn i {
        transition: transform 0.5s ease;
    }

    #nav:checked + .nav-btn i:nth-child(1) {
        transform: translateY(6px) rotate(180deg);
    }

    #nav:checked + .nav-btn i:nth-child(2) {
        opacity: 0;
    }

    #nav:checked + .nav-btn i:nth-child(3) {
        transform: translateY(-6px) rotate(90deg);
    }

    #nav:checked ~ .nav-wrapper {
        z-index: 9990;
        opacity: 1;
    }

    #nav:checked ~ .nav-wrapper ul li a {
        opacity: 1;
        transform: translateX(0);
    }

    .hidden {
        display: none;
    }

    #nav:not(checked) + .nav-btn i {
        transition: transform 0.5s ease;
    }

    #nav:not(checked) + .nav-btn i:nth-child(1) {
        transform: translateY(-2px) rotate(-180px);
        margin-top: 16px;
    }

    #nav:not(checked) + .nav-btn i:nth-child(2) {
        transform: translateY(0px) rotate(-180deg);
        opacity: 1;
    }

    #nav:not(checked) + .nav-btn i:nth-child(3) {
        transform: translateY(0px) rotate(-180deg);  
    }
    /*  BURGER ANIMATION EFFECTS ~ END  */
    /*  MOBILE MENU & NAVIGATION BAR ~ END  */
}
/*  MOBILE MENU ONLY ON DEVICES LESS THAN 1000px's WIDE ~ END  */
/*  MOBILE MENU AND NAVIGATION BAR ~ END  */

/*  MAIN CONTENT ~ SECTIONS  */

/********  SLIDING IMAGES  ************/
.container1 {
    background-size: cover;
    background-position: center;
    background: #f9f9f9;
    font-size: 24px;
}


slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
    background-position: center;
}

slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(/images/realtyHomes/home1.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url(/images/realtyHomes/home2.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3) {
    animation-delay: 5s;
    background-image: url(/images/realtyHomes/home3.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(4) {
    left: 0%;
    animation-delay: 8s;
    background-image: url(/images/realtyHomes/home4.jpg);
    background-size: cover;
    background-position: center;
}

slide p {
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: rgb(212, 41, 41);
}

@keyframes slide {
    0% { left: 100%; width: 100%; }
    5% { left: 0%; }
    25% { left: 0%; }
    30% { left: -100%; width: 100%; }
    30.0001% { left: -100%; width: 0%; }
    100% { left: 100%; width: 0%; }
}

.test {
    bottom: 0px;
    width: 100%;
    height: 75px;
    background-color: rgba(0, 42, 84, .5);
    position: absolute;
    z-index: 98;
}
/********  END ~ SLIDING IMAGES  ************/


.filler {
    margin: 50px;
    margin-top: 700px;
}

/*  MAIN CONTENT ~ SECTIONS ~ END  */




/********  FOOTER  ************/
footer {
    margin: 0;
    padding: 0;
    color: beige;
    background: 
        linear-gradient(
            rgba(0, 79, 124, 0.9),
            rgba(0, 0, 0, 0.9)
        ),
        url(/images/BIG-Austin-Skyline-.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footerwrapper {
    padding: 0px 50px;
}

.footerTop {
    display: flex;
    margin: 50px;
}

.footerTestimonials {
    color: white;
    margin: 0;
    padding: 50px 0px;
    padding-right: 25px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footerTestimonials h3 {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 0px;
    letter-spacing: 1.5px;
}

.footerTestimonials hr {
    color: coral;
    border-style: solid;
    width: 97.5%;
    margin-left: 0px;
}

.footerTestimonials p {
    margin: 0;
    padding: 10px 0px;
    font-size: 17.5px;
}

.footerContactUs {
    color: white;
    margin: 0;
    padding: 50px 0px;
    padding-left: 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footerContactUs h3 {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 0px;
    letter-spacing: 1.5px;
}

.footerContactUs hr {
    color: coral;
    border-style: solid;
    width: 100%;
}

.footerContactUs h4 {
    color: white;
    white-space: nowrap;
    letter-spacing: 1.2px;
    font-size: 22px;
    font-weight: 200;
    margin: 0;
    padding: 10px 0px;
}

.footerContactUs h4 span {
    color: red;
}

.footerContactUs p {
    margin: 0;
    padding: 10px 0px;
    font-size: 17.5px;
    display: flex;
}

.footerContactUs #address span {
    display: flex;
    flex-direction: column;
}

.fa-map-marker-alt {
    padding-top: 10px;
}

.fa-envelope {
    margin-left: -3px;
}

.footerContactUs p {
    padding-top: 25px;
}

.footerContactUs p span {
    margin-left: 25px;
}

.footerContactUs i {
    font-size: 20px;
}

.email a {
    text-decoration: none;
    color: white;
}

.email a:hover {
    color: aqua;
}

.email a span {
    margin-left: 16px;
}

#connectWithUs {
    margin-bottom: -25px;
}

#connectWithUs ul {
    padding-right: 37px;
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 40px;
}

#connectWithUs ul li {
    padding: 5px;
}

#connectWithUs ul li a {
    color: white;
    opacity: .7;
}

#connectWithUs ul li a:hover {
    color: aqua;
    opacity: 1;
}

.footerMenu {
    font-size: 15px;
}

.footerMenu ul {
    padding-right: 37px;
    display: flex;
    list-style: none;
    justify-content: center;
}

.footerMenu ul li:not(:first-child):before {
    content: " | ";
}

.footerMenu ul li a {
    color: beige;
    padding: 5px;
    text-decoration: none;
}

.footerMenu ul li a:hover {
    color: aqua;
}

#bottomFooter {
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    height: 75px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottomFooter span {
    padding-right: 2.5px;
}

#bottomFooter a {
    color: orangered;
    padding-left: 2.5px;
}

#bottomFooter a:hover {
    color: aqua;
}


/*  RESPONSIVE FOOTER FOR MOBILE DEVICES  */
@media screen and (min-width: 1750px) {

    .footerTop {
        margin: 50px;
        padding: 50px 250px;
    }
}

@media screen and (max-width: 780px) {

    .footerTop {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .footerTestimonials {
        padding: 0 0 10px 0;
    }

    .footerTestimonials hr {
        width: 100%;
    }

    .footerContactUs {
        padding: 10px 0 0 0;
    }

    .footerContactUs p {
        padding-top: 5px;
    }

    .footerMenu {
        margin: 0 -50px;
        padding: 0;
        font-size: 12.5px;
    }
}

@media screen and (max-width: 700px) {

    .footerMenu {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    .footerTestimonials h3 {
        font-size: 20px;
    }

    .footerTestimonials p {
        font-size: 12.5px;
    }

    .footerContactUs h3 {
        font-size: 20px;
    }

    .footerContactUs h4 {
        font-size: 16.5px;
    }

    .footerContactUs p {
        font-size: 12.5px;
    }
}
/*  RESPONSIVE FOOTER FOR MOBILE DEVICES ~ END  */
/********  FOOTER ~ END  ************/